# =========================
# Core
# =========================
Flask==3.0.3
Werkzeug==3.0.3
gunicorn==22.0.0

# =========================
# Banco de dados (PostgreSQL / Neon)
# =========================
psycopg[binary]==3.2.3

# =========================
# Segurança / utilidades
# =========================
python-dotenv==1.0.1
